	
	video											
	{
		height: 300px;
		width: 450px;
	}
	.sh										
   {
    	color:black;
    	font-size: 100px;
    	font-family: "Times New Roman", Times, serif;
    	font-style: oblique;
    	margin-top: 55px;
    	text-decoration: underline;
   }
	.sp
	{
		font-size: 200%;
		font-family: Arial, Helvetica, sans-serif;
		font-style: italic;
	}
	.sbody										/*Body Properties*/
	{
   		background-image: url(../images/signin.jpg);
     	background-repeat: no-repeat;
     	background-size: cover;
     	background-position: right-center;
     	color:black;
	}
	.libimg
	{
		height:200px;
		width:200px;
	}
.inimg
{
	height:50px;
	width:100px;
}

	body 														
	{
    	background-image: url(../images/salad-2068220__340.jpg);
     	background-repeat: no-repeat;
     	background-size: cover;
     	background-position: right-center;
     	color:white;
	}
	h1															/*Heading Properties*/
	{
		color: white;
		font-size:100px ;
		font-family: monospace;
		text-decoration: underline;
		width: 50%;
		margin: 55px;
		margin-left: 0;
	}
	a															/*Anchor properties*/
	{
		font-size: 30px; 
		color:white;
		text-decoration-line: none;
		margin-right: 20px;	
		font-weight: bold;
		font-family: Arial, Helvetica, sans-serif;
	}
	p
	{
		font-size: 25px;
		font-family: Arial, Helvetica, sans-serif;
		font-style: italic;
		text-align: inline;
	}
	a:hover 														/*Hover*/
	{
    background-color: #D2B48C;
	}
	li															/*List item properties*/
	{
		display:inline;
	}
	ul															/*All list items properties*/
	{
		border: 2px solid #D2B48C;
		border-right: none;
		border-left: none;
		width: 60%;
	}
	img
	{
		height:20px; 
		width:20px;
	}
